/* HEADER BOX */
header {
  background-color: #fff;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 2%;
  padding-right: 2%;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  header {
    header: 40px;
  }
}

@media screen and (min-width: 768px) {
  header {
    height: 80px;
    padding-top: 15px;
    padding-bottom: 8px;
  }
}

/*TOP NAV*/

.top-nav {
  text-align: right;
}

.top-nav-item {
  color: #3c3a3a;
  display: inline;
  font-family: 'Hind', sans-serif;
  font-size: 10px;
  margin: 0 0 0 25px;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .top-nav-item {
    font-size: 10px;
  }
}

@media screen and (min-width: 768px) {
  .top-nav-item {
    font-size: 12px;
  }
}

/*HOME*/
.home {
  cursor: pointer;
  text-decoration: none;
}

h1 {
  color: #3c3a3a;
  font-family: 'Hind', sans-serif;
  font-size: 16px;
  text-align: left;
  text-decoration: none;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  h1 {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 24px;
    text-align: center;
  }
}

h2 {
  color: #3c3a3a;
  font-family: 'Hind', sans-serif;
  font-size: 10px;
  font-style: italic;
  text-align: left;
  text-decoration: none;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  h2 {
    font-size: 10px;
  }
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 16px;
    text-align: center;
  }
}


/* PRIMARY-NAV */
.primary-nav-menu {
  background-color: #635f5f;
  color: #fff;
  height: 47px;
  position: relative;
}

.primary-nav-item {
  cursor: pointer;
  color: #fff;
  float: left;
  font-family: 'Hind', sans-serif;
  font-size: 16px;
  padding: 15px 0 15px 0;
  text-align: center;
  text-decoration: none;
  width: 33.33%;
}

.highlight {
  background-color: #484444;
}

/* main */
main {
  background-color: #fff;
  height: 600px;
}

/* footer */
footer {
  background-color: #635f5f;
  color: white;
  font-family: 'Hind', sans-serif;
  font-size: 12px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 1%;
  padding-right: 1%;
}

/* VISIT CHECKSLIT */
.checklist-nav {
  font-family: 'Hind', sans-serif;
  font-size: 14px;
  padding: 5px 2%;
  height: 50px;
  margin: 20px 0;
}

.checklist-nav-item {
  text-decoration: none;
  color: #635f5f;
  width: 15.66%;
  float: left;
  text-align: center;
}

/*.step-number {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid  #635f5f;
}*/

.icon-menu {
  margin: 0 10%;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .icon-menu {
    margin: 0 20%;
  }
}

@media screen and (min-width: 768px) {
  .icon-menu {
    margin: 0 30%;
  }
}

.icon {
  width: 50px;
  height: 50px;
}

.icon-box {
  height: 60px;
  float: left;
  clear: both;
}

.label-box {
  height: 30px;
  float: left;
  text-decoration: none;
  padding: 15px 0 15px 15px;
  width: 185px;
}

/* FORM STYLING */

.visit-checklist-form {
  padding: 5px 2%;
}

.form-item {
  margin: 10px 5px;
}

h3 {
  color: #3c3a3a;
  font-family: 'Hind', sans-serif;
  font-size: 18px;
  font-style: italic;
  padding: 5px 0;
  text-align: left;
}

p {
  font-family: 'Hind', sans-serif;
  font-size: 14px;
  padding: 5px 0;
}

form {
  display: inline-block;
  font-family: 'Hind', sans-serif;
  font-size: 14px;
  margin: 10px 0;
}
