/* HEADER BOX */
header {
  background-color: #fff;
  height: 20px;
  padding: 5px 2%;
  z-index: 4;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  header {
    height: 20px;
    padding: 20px 2% 20px 2%;
  }
}

@media screen and (min-width: 768px) {
  header {
    height: 20px;
    padding: 20px 2% 20px 2%;
    text-align: center;
  }
}



/*HOME*/
.home {
  cursor: pointer;
  text-decoration: none;
}

h1 {
  color: #3c3a3a;
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  font-weight: 800;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  h1 {
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 24px;
  }
}

h2 {
  color: #3c3a3a;
  font-family: 'Muli', sans-serif;
  font-size: 10px;
  font-style: italic;
  text-decoration: none;
  display: none;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  h2 {
    font-size: 10px;
    display: none;
  }
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 16px;
    display: inline;
  }
}


/* PRIMARY-NAV */
.primary-nav-menu {
  background-color: #635f5f;
  color: #fff;
  height: 47px;
  position: relative;
}

.primary-nav-item {
  cursor: pointer;
  color: #fff;
  float: left;
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  width: 33.33%;
  height: 14px;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .primay-nav-item {
    font-size: 14px;
    padding: 16px 0;
  }
}

@media screen and (min-width: 768px) {
  .primary-nav-item {
    font-size: 16px;
    padding: 16px 0;
  }
}

.highlight {
  background-color: #484444;
}

/*MAIN*/
main {
  height: 600px;
  background-color: rgba(175, 233, 211, 0.65);
}

/*LANDING PAGE*/

.splash {
  background-image: url("../images/worker-dude-cropped.jpg");
  background-size: cover;
  height: 87vh;
}
.hero {
  color: white;
  font-family: 'Muli', sans-serif;
  weight: 600;
  text-align: center;
  background-size: cover;
  background-color: rgba(27, 49, 41, 0.64);
  height: 70vh;
  padding: 50px 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-title {
  font-size: 20px;
  padding-bottom: 20px;
}

.hero-subtitle {
  font-size: 16px;
  font-style: italic;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .hero-title {
    font-size: 24px;
  }
  .hero-subtitle {
    font-size: 16px;
  }
  .hero {
    padding: 100px 20px 0 20px;
  }
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 28px;
  }
  .hero-subtitle {
    font-size: 18px;
  }
  .hero {
    padding: 100px 20px 0 20px;
  }
}

/*ICON PAGE*/

.icon-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icon-menu {
  padding-top: 20px;
  width: 250px;
}

.menu-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-decoration: none;
}

.icon {
  width: 50px;
  height: 50px;
}

.icon-box {
  height: 60px;
  /*float: left;
  clear: both;*/
}

.label-box {
  height: 30px;
  float: left;
  color: #3c3a3a;
  padding: 15px 0 15px 15px;
  width: 170px;
  font-family: 'Muli', sans-serif;
  font-size: 14px;
}

/* FORM PAGES */
.checklist-page {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.form-page {
  display: flex;
  flex-direction: column;
  height: 800px;
}

.checklist-nav {
  height: 50px;
  margin: 20px 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.checklist-nav-item {
  text-decoration: none;
  font-family: 'Muli', sans-serif;
  font-size: 11px;
  color: #3c3a3a;
  width: 15.66%;
  height: 30px;
  display: flex;
  padding: 15px 0;
  margin: 0 2px;
  flex-direction: column;
  text-align: center;
  font-weight: 400;
  background-color: rgba(223, 246, 237, 0.65);
  border-radius: 5px 20px 5px;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .checklist-nav {
    height: 100px;
    margin: 20px 2%;
  }

  .checklist-nav-item {
    border: 2px solid #635f5f;
    border-radius: 5px 20px 5px;
    padding: 20px 0;
    margin: 0 8px;
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .checklist-nav {
    height: 100px;
    margin: 20px 2%;
  }

  .checklist-nav-item {
    border: 2px solid #635f5f;
    border-radius: 5px 20px 5px;
    padding: 20px 0;
    margin: 0 8px;
    font-size: 14px;
  }
}

.visit-checklist-form {
  padding: 5px 2%;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .visit-checklist-form {
    padding: 5px 2%;
  }
}

@media screen and (min-width: 768px) {
  .visit-checklist-form {
    width: 80%;
    margin: 0 auto;
  }
}

.visit-checklist-form p {
  margin: 10px 0;
}

.form-item {
  margin: 10px 5px;
}

h3 {
  color: #3c3a3a;
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
  padding: 5px 0;
  text-align: center;
}

.visit-checklist-form p {
  font-family: 'Muli', sans-serif;
  font-size: 14px;
}

form {
  display: inline-block;
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  margin: 10px 0;
}

h4 {
  color: #3c3a3a;
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  font-weight: 800;
}

/* CONTACT */
h5 {
  font-family: 'Muli', sans-serif;
  font-size: 10px;
}



/* FOOTER */
/*footer {
  background-color: #635f5f;
  color: white;
  font-family: 'Muli', sans-serif;
  font-size: 12px;
  height: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 1%;
  padding-right: 1%;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  footer {
    height: 40px;
  }
}

@media screen and (min-width: 768px) {
  footer {
    height: 40px;
  }
}*/
